@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  font-size: 14px;
  background: white;
}

th,
td {
  padding: 12px 36px;
}

input,
select {
  width: 100%;
  border: 1px solid gainsboro;
  padding: 4px;
}
